:root {

  --dark-grey:#4D606E;
  --light-grey:#D3D4D8;
  --offwhite:#F5F5F5;
  --aqua-blue:#3FBAC2;
  --white:#fff;

}
html {
  height:100%;/*find out the meaning of this*/
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;/*review border box-sizing*/
  /*font-family: 'Dancing Script', cursive;*/
  font-family: 'Lato', sans-serif;

}
.home-main-container{
  background: url(./images/fastmoving\ images.jpg) no-repeat center center/cover;/* revise center center/cover */
}